In [8]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\sudar\anaconda3\lib\site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import numpy as np

In [10]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sudar\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\sudar\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sudar\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sudar\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\sudar\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [11]:
import pandas as pd

In [12]:
d = {0:[1,4,7,np.nan],
    1:[2,5,np.nan,np.nan],
    2:[3,np.nan,np.nan,np.nan],
    3:[np.nan,np.nan,np.nan,np.nan]}

In [13]:
df=pd.DataFrame(d)

In [14]:
df

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

In [15]:
df_m = df.fillna(df.mean())

In [16]:
df_m

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  3.5  3.0 NaN
3  4.0  3.5  3.0 NaN

In [18]:
ser2 = pd.Series(list('abcdeabcd'))
ser2

0    a
1    b
2    c
3    d
4    e
5    a
6    b
7    c
8    d
dtype: object

In [19]:
pd.get_dummies(ser2)

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1
5  1  0  0  0  0
6  0  1  0  0  0
7  0  0  1  0  0
8  0  0  0  1  0